<html>
<head>

    <title><%=title%></title>
</head>
<body>
<h1>To find out the weather in your region, please type in your city</h1>
<form action="/weather" method="GET">
<input type="text" name="city" class="input"/>
<input type="submit" name="content" value="OK" class="OK-container"/>
</form>
</body>
</html>