<html>
<head>

    <title><%=title%></title>
</head>
<body>
<h1>To find out the weather in your region, please type in your postal code or city</h1>
<input type="text" name="title" class="input"/>
<input type="submit" name="content" value="OK" class="OK-container"/>

</body>
</html>